.item {
    border: 1px solid gainsboro ;
}

.loading {
    position: fixed;
    left: 50%;
    bottom: 0;
    _top: expression(eval('document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight'));
    z-index: 10;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-left: -100px;
    text-align: center;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.wrap {
    margin: 0 auto;
    align-items: center;
    width: 100%;
    position: relative;
}

.contentBar {
    box-sizing: border-box;
    border-bottom: 1px solid;
    position: fixed;
    right: 0;
    height: auto;
    top: 0;
    width: 100%;
    z-index: 200;
    background: #ffffff;
}
