
/* 背景色和背景图 */
body {
    background-color: #fff;
    /*background-image: url(http://www.niumowang.org/demo/infinite/images/bg.png);*/
    background-image: url("../../images/bg.png");
    background-repeat: repeat;
}
/* 侧栏：文字色和分割线颜色 */
.b1 {
    border-color: #96999D;
}

.item {
    z-index: 1;
    position: relative;
    display: block;
    cursor: pointer;
    background-color: #ffffff;
}

.item:hover {
   -moz-box-shadow:0px 0px 20px #4F4F4F; 
   -webkit-box-shadow:0px 0px 20px #4F4F4F; 
   box-shadow:0px 0px 20px #4F4F4F;
    filter: progid:DXImageTransform.Microsoft.Shadow(color = #979797, direction = 135, strength = 3);
}

.title {
    margin-top: 10px;
    padding-top: 12px;
    padding-right: 12px;
    color: #666;
}

.text {
    display: block;
    overflow: hidden;
    margin: 15px auto 10px;
    line-height: 21px;
    color: #aaa;
    cursor: pointer;
    word-wrap: break-word;
    word-break: break-all;
}

.img {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}
