@{
    ViewBag.Title = "主页";
}

<div class="contentBar" id="cb">
    <h4>@ViewBag.Message <a href="@ViewBag.Url" target="_blank">瀑布流布局</a></h4>
    <div>
        <label id="lblInfo"></label>
    </div>
</div>

@*引入js*@
<script src="../../Scripts/jufine.waterfall.arrayExten.js"></script>
<script src="../../Scripts/jufine.waterfall.pageInfo.js"></script>
<script src="../../Scripts/jufine.waterfall.core.js"></script>
<script src="../../Scripts/jufine.waterfall.main.js"></script>
<script src="../../Scripts/jufine.waterfall.core.curr.js"></script>

@*引入样式*@
<link href="../../Content/jufine.waterfall.css" rel="stylesheet" />

@*瀑布流布局*@

<div id="waterfallDemo" style="width: 100%;">
    @* 放置瀑布流条目的容器*@
    <div class="wrap" id="container" style="width:100% ">
    </div>
    @* 显示数据加载中的图片*@
    <div class="loading" id="loading" style="display: none;">
        <img id="loadingImage" src="../../images/loading.gif" alt="数据加载中。。。" />
    </div>
</div>

<script type="text/javascript">

    //放置图片的容器 div
    var container = X.$('container');
    //数据加载中对象 div
    var loadingObj = X.$('loading');

    //数据源地址
    var _url = 'Home/GetWaterfallImageInfos';
    //最底部的滚轮上拉像素
    var _moveScrollTop = PageInfo.GetWindowHeight() * 0.15;
    //数据加载超时时间（ms）
    var _autoTryHiddenLoadingDelay = 15000;

    var currObj = new Waterfall(container, {
        itemSelector: 'item',
        load: function (success) {
            //显示数据加载中
            Z.ShowLoading(loadingObj, currObj, _autoTryHiddenLoadingDelay);
            //异步获取图片列表
            X.ajax({
                url: _url,
                type: "GET",
                data: Z.GetQueryString(currObj),
                dataType: "json",
                failFn: function () {
                    Z.LoadCompleted(loadingObj, currObj, _moveScrollTop);
                },
                sucFn: function (data) {
                    //如果现在已经不需要加载数据了 --important
                    if (!Z.CheckLoading(loadingObj, currObj)) {
                        return;
                    }
                    //加载一页的数据
                    Z.LoadOnePage(success, function () {
                        var div = null;
                        if (data != null) {
                            var opts = currObj.getCurrParam().options;

                            div = document.createElement('div');
                            div.style.display = 'none';
                            for (var i = 0; i < data.photos.length; i++) {
                                var item = document.createElement('div');
                                item.className = 'item';
                           
                                item.innerHTML =  '<div><img src="' + data.photos[i].src + '"/></div>';
                                item.innerHTML += '<div>' + data.photos[i].title + '</div>';
                                
                                div.appendChild(item);
                            }
                            container.appendChild(div);

                            X.fadeIn(div);
                            currObj.setCurrOptions({
                                currPageNum: opts.currPageNum + 1,
                                currItemCount: opts.currItemCount + parseInt(data.pageCount),
                                currScrollHeight: PageInfo.GetScrollHeight(),
                                currwindowHeight:PageInfo.GetWindowHeight()
                            });

                            X.$('lblInfo').innerHTML = opts.currPageNum + "," + opts.currItemCount + "," + opts.currScrollTop + "," + opts.currwindowHeight + "," + opts.currScrollHeight;
                            X.$('lblInfo').innerHTML += "," + opts.columnCount + "," + opts.columnSpace + "," + opts.columnWidth;
                        }
                        return div;
                    });
                }
            });
        },
        complete: function () {
            Z.LoadCompleted(loadingObj, currObj, _moveScrollTop);
        }
    });

    Z.CoreExecute({
        loadingObj: loadingObj,
        currObj: currObj,
        //定时检测滚动条是否到达底部--定时器
        BottomScrollDetectorInfo: {
            needBind: true,
            delay: 2000,
            scrollTop: _moveScrollTop
        },
        //横竖屏切换后，重新加载数据--window.orientationchange
        WindowResizeInfo: {
            needBind: true,
            delay: 500,
            autoTryHiddenLoadingDelay: _autoTryHiddenLoadingDelay,
            container: container
        }
    });

</script>
