@{
    ViewBag.Title = "主页";
}

<div class="contentBar">
    <h2>@ViewBag.Message <a href="http://xiechengxiong.com/234.html" target="_blank">瀑布流布局</a></h2>
</div>

@*引入js*@
<script src="../../Scripts/jufine.waterfall.arrayExten.js"></script>
<script src="../../Scripts/jufine.waterfall.pageInfo.js"></script>
<script src="../../Scripts/jufine.waterfall.core.js"></script>
<script src="../../Scripts/jufine.waterfall.main.js"></script>

@*引入样式*@
<link href="../../Content/jufine.waterfall.css" rel="stylesheet" />

@*瀑布流布局*@
<div id="waterfallDemo" style="width: 100%; margin-top: 50px">
    @*记录当前记录条数*@
    <input type="hidden" id="hdCurrItemCount" value="0" />
    @*放置瀑布流条目的容器*@
    <div class="wrap" id="container">
    </div>
    @*显示数据加载中的图片*@
    <div class="loading" id="loading" style="display: none;">
        <img id="loadingImage" src="../../images/loading.gif" alt="数据加载中。。。" />
    </div>
</div>

<script type="text/javascript">

    var pageNumber = 1;
    var container = X.$('container');
    var loading = X.$('loading');

    var pageMess = PageInfo.GetImageWidthAndColumnSpace(container.offsetWidth);

    var _columnSpace = pageMess.ColumnSpace;
    var _columnWidth = pageMess.ImageWidth;
    var _itemSelector = 'item';

    var currObj = new Waterfall(container, {
        itemSelector: _itemSelector,
        columnWidth: _columnWidth,
        columnSpace: _columnSpace,
        load: function (success) {
            //显示数据加载中
            _ShowLoading();
            //异步获取图片列表
            X.ajax({
                url: "Home/GetWaterfallImageInfos",
                type: "GET",
                data: _GetQueryString(),
                dataType: "json",
                failFn: function () {
                    currObj.complete();
                },
                sucFn: function (data) {
                    //加载一页的数据
                    var div = null;
                    try {
                        div = _LoadOnePage(data);
                    } catch (e) {
                    } finally {
                        success && success(div);
                    }
                }
            });
        },
        complete: function () {
            _HiddenLoading();
            PageInfo.IsInBottom(function (inBottom) {
                if (inBottom) {
                    PageInfo.SetScrollTop(1);
                }
            });
        }
    });

    PageInfo.SetInterval(function () {
        PageInfo.IsInBottom(function (inBottom) {
            if (inBottom) {
                PageInfo.SetScrollTop(30);
            }
        });
    },
    function () {
        return false;
    },
    2000);

    //加载一批数据,直到出现滚动条为止
    PageInfo.SetInterval(
        function () {
            if (!_CheckLoading()) {
                currObj.loadData();
            }
        },
        function () {
            return (PageInfo.GetScrollHeight() > PageInfo.GetWindowHeight());
        },
        1000
    );

    //窗体尺寸改变时重新加载页面，延迟500ms执行
    window.onresize = function () {
        var currItemCount = parseInt(X.$('hdCurrItemCount').value);
        loading.style.display = '';
        if (currItemCount > 0) {
            setTimeout(function () {
                window.location.reload();
            }, 500);
        }
    };


    //加载一页的数据
    function _LoadOnePage(data) {
        var div = null;
        if (data != null) {
            div = document.createElement('div');
            for (var i = 0; i < data.photos.length; i++) {
                var item = document.createElement('div');
                item.className = 'item';
                item.width = _columnWidth;

                item.innerHTML = '<img src="' + data.photos[i].src + '" alt="" width="' + _columnWidth + '" />';
                item.innerHTML += '<div style="width:' + _columnWidth + 'px;overflow:visible;text-overflow:inherit;">' + data.photos[i].title + '</div>';

                div.appendChild(item);
            }
            container.appendChild(div);

            X.fadeIn(div);
            pageNumber++;
            //页面显示信息设置
            X.$('hdCurrItemCount').value = parseInt(X.$('hdCurrItemCount').value) + parseInt(data.pageCount);
        }

        return div;
    }

    //设置查询字符串
    function _GetQueryString() {
        //设置传递参数
        var queryData = new Array(3);
        queryData.push('PageNumber=' + pageNumber);
        queryData.push('ImageWidth=' + _columnWidth);
        queryData.push('CurrItemCount=' + X.$('hdCurrItemCount').value);
        return queryData.join('&');
    }

    //检查当前数据是否在加载中
    function _CheckLoading() {
        return loading.style.display == '' || currObj.getLoading();
    }

    //显示数据加载中
    function _ShowLoading() {
        currObj.setLoading(true);
        //X.fadeIn(loading);
        loading.style.display = '';
        window.setTimeout(function () {
            _HiddenLoading();
        }, 15000);
    }

    //隐藏数据加载中
    function _HiddenLoading() {
        currObj.setLoading(false);
        //X.fadeOut(loading);
        loading.style.display = 'none';
    }

</script>
