@using WaterfallDemo.Models
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>固定导航栏模板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />

    <!-- 最新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    @* 网站logo*@
    <link rel="shortcut icon" href="http://v3.bootcss.com/docs-assets/ico/favicon.png">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <script src="http://cdn.bootcss.com/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
    <script src="http://cdn.bootcss.com/masonry/3.1.2/masonry.pkgd.min.js"></script>
    @*画图js*@
    <script src="http://cdn.bootcss.com/Chart.js/0.2.0/Chart.min.js"></script>
    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 70px;
        }

        .projects-header {
            width: 60%;
            text-align: center;
            margin: 60px 0 10px;
            font-weight: 200;
            margin-bottom: 40px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

            .projects-header h2 {
                font-size: 30px;
                letter-spacing: -1px;
            }

        .bc-social {
            padding: 15px 0;
            text-align: center;
            background-color: #f5f5f5;
            border-top: 1px solid #fff;
            border-bottom: 1px solid #ddd;
        }

        .bc-social-buttons {
            margin-left: 0;
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
        }

            .bc-social-buttons li {
                display: inline-block;
                padding: 5px 8px;
                line-height: 1;
                font-size: 16px;
            }
    </style>

</head>

<body>
    <div id="Page">
        <!-- NAVBAR ================================================== -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">固定导航栏模板</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../navbar/">Default</a></li>
                        <li><a href="../navbar-static-top/">Static top</a></li>
                        <li class="active"><a href="./">Fixed top</a></li>
                    </ul>
                    @RenderSection("header", false)
                </div>
            </div>
        </div>


        <!-- Carousel ================================================== -->
        <div class="row">
            <div class="col-12">
                <div class="carousel slide" data-ride="carousel" id="carousel-38643">
                    <ol class="carousel-indicators">
                        <li data-slide-to="0" data-target="#carousel-38643" class="active"></li>
                        <li data-slide-to="1" data-target="#carousel-38643"></li>
                        <li data-slide-to="2" data-target="#carousel-38643"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="item active">
                            <img alt="" src="http://www.bootcss.com/p/layoutit/img/1.jpg" />
                            <div class="carousel-caption">
                                <h4>棒球
                                </h4>
                                <p>
                                    棒球运动是一种以棒打球为主要特点，集体性、对抗性很强的球类运动项目，在美国、日本尤为盛行。
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="http://www.bootcss.com/p/layoutit/img/2.jpg" />
                            <div class="carousel-caption">
                                <h4>冲浪
                                </h4>
                                <p>
                                    冲浪是以海浪为动力，利用自身的高超技巧和平衡能力，搏击海浪的一项运动。运动员站立在冲浪板上，或利用腹板、跪板、充气的橡皮垫、划艇、皮艇等驾驭海浪的一项水上运动。
                                </p>
                            </div>
                        </div>
                        <div class="item">
                            <img alt="" src="http://www.bootcss.com/p/layoutit/img/3.jpg" />
                            <div class="carousel-caption">
                                <h4>自行车
                                </h4>
                                <p>
                                    以自行车为工具比赛骑行速度的体育运动。1896年第一届奥林匹克运动会上被列为正式比赛项目。环法赛为最著名的世界自行车锦标赛。
                                </p>
                            </div>
                        </div>
                    </div>
                    <a data-slide="prev" href="#carousel-38643" class="left carousel-control">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a data-slide="next" href="#carousel-38643" class="right carousel-control">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="bc-social">
            <div class="container">
                <ul class="bc-social-buttons">
                    <li>
                        <a href="http://weibo.com/bootcss" title="Bootstrap中文网官方微博" target="_blank">
                            <img src="http://www.bootcss.com/assets/img/Sina_Weibo_Logo_RGB_C_E.png" style="height: 30px;" alt="Bootstrap中文网新浪微博"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="projects-header page-header">
            <h2>Bootstrap相关开源项目推荐</h2>
            <p>这些项目或者是对Bootstrap进行了有益的补充，或者是基于Bootstrap的</p>
        </div>
        <!--内容部分-->
        <div class="container">
            @{
                Html.RenderAction("MasonryHeadViewPartical");
            }
            @RenderBody()
        </div>
        <div id="footer">
            @Html.Partial("FooterPartical");
        </div>

    </div>



</body>
</html>
