<div class="text-center">
    <p>
        Copyright©2012-2014 上海聚好信息技术有限公司版权所有 沪ICP备12036357
    </p>
    <div>
        <a href="http://www.zx110.org/" target="_blank">
            <img src="http://www.1juhao.com/Content/Images/global/zx110.png" height="40px" width="90px" alt="网络公安"></a>
        <a href="http://www.miibeian.gov.cn/" target="_blank">
            <img src="http://www.1juhao.com/Content/Images/global/ForReference.png" height="40px" width="108px" alt="沪ICP备12036357"></a>
        <a href="http://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=20130427102349599" target="_blank">
            <img src="http://www.1juhao.com/Content/Images/global/gongshang.jpg" height="40px" width="108px" alt="工商"></a>
    </div>
</div>

<style type="text/css">
    #scrollUp {
        bottom: 20px;
        right: 20px;
        height: 38px;
        width: 38px;
        background: url("http://www.bootcss.com/assets/img/top.png") no-repeat;
    }
</style>

<script src=" http://www.bootcss.com/assets/js/jquery.scrollUp.min.js"> </script>

<script>
    $(document).ready(function () {
        $.scrollUp({
            scrollName: 'scrollUp', // Element ID
            topDistance: '300', // Distance from top before showing element (px)
            topSpeed: 300, // Speed back to top (ms)
            animation: 'fade', // Fade, slide, none
            animationInSpeed: 200, // Animation in speed (ms)
            animationOutSpeed: 200, // Animation out speed (ms)
            scrollText: '', // Text for element
            activeOverlay: false  // Set CSS color to display scrollUp active point, e.g '#00FFFF'
        });
    });
</script>
